<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="welcome-bar">
    <p class="welcome-message">¡Bienvenido <span class="username">{{ username }}</span>!</p>
  </div>
  
  

    <div class="content">
    <!-- For camera -->
    <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>

    <!-- data  -->
    <span>{{ action.data.value | json }}</span><!-- value -->
    <span>{{ action.data | async | json }}</span><!-- async -->

    <!-- Loading -->
    <p *ngIf="action.isLoading">Loading...</p>

    <ion-button class="ion-margin" (click)="action.isStart ? action.stop() : action.start()">
      {{action.isStart ? 'Stop' : 'Escanear codigo Qr'}}
      <ion-icon slot="end" name="camera-outline"></ion-icon>
    </ion-button>

    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let asistencia of asistencias" size-lg="6" size-md="6" size-sm="12" size="12">
          <ion-card>
            <circle-progress
            [percent]="getPorcentaje(asistencia)"
            [radius]="65"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [titleColor]="'var(--ion-color-dark)'"
            [animationDuration]="300"
            [subtitle]="'Asistencia'"
            ></circle-progress>
            <div class="title">{{ asistencia.asignatura }}</div>

            <br>
            <p>clases totales: {{ asistencia.total_clases }}</p>
            <p>clases asisitidas: {{ asistencia.clases_asistidas }}</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-button expand="full"  (click)="onClick()" >
    Cerrar Sesión
    <ion-icon name="enter-outline"></ion-icon>
  </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Demo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formGroup">
        <ion-item>
          <ion-label position="fixed">Formats</ion-label>
          <ion-select
            multiple="true"
            placeholder="Formats"
            formControlName="formats"
          >
            <ion-select-option [value]="barcodeFormat.Aztec"
              >Aztec</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Codabar"
              >Codabar</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Code39"
              >Code39</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Code93"
              >Code93</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Code128"
              >Code128</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.DataMatrix"
              >DataMatrix</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Ean8"
              >Ean8</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Ean13"
              >Ean13</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Itf"
              >Itf</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Pdf417"
              >Pdf417</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.QrCode"
              >QrCode</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.UpcA"
              >UpcA</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.UpcE"
              >UpcE</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Lens Facing</ion-label>
          <ion-select formControlName="lensFacing">
            <ion-select-option [value]="lensFacing.Front"
              >Front</ion-select-option
            >
            <ion-select-option [value]="lensFacing.Back"
              >Back</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="fixed"
            >Google Barcode Scanner Module Install State</ion-label
          >
          <ion-input
            formControlName="googleBarcodeScannerModuleInstallState"
            type="number"
            [readonly]="true"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed"
            >Google Barcode Scanner Module Install Progress</ion-label
          >
          <ion-input
            formControlName="googleBarcodeScannerModuleInstallProgress"
            type="number"
            [readonly]="true"
          ></ion-input>
        </ion-item>
        <ion-button
          expand="block"
          (click)="startScan()"
          [disabled]="!isSupported"
          >Start Scan</ion-button
        >
        <ion-button
          expand="block"
          (click)="readBarcodeFromImage()"
          [disabled]="!isSupported"
          >Read Barcode From Image</ion-button
        >
        <ion-button expand="block" (click)="scan()" [disabled]="!isSupported"
          >Scan</ion-button
        >
        <ion-button
          expand="block"
          (click)="openSettings()"
          [disabled]="!isSupported"
          >Open Settings</ion-button
        >
        <ion-button
          expand="block"
          (click)="installGoogleBarcodeScannerModule()"
          [disabled]="!isSupported"
          >Install Google Barcode Scanner Module</ion-button
        >
        <ion-button
          expand="block"
          (click)="requestPermissions()"
          [disabled]="isPermissionGranted"
          >Request Permissions</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
  <ng-container *ngFor="let barcode of barcodes">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="fixed">Bytes</ion-label>
          <ion-input
            type="text"
            readonly
            [value]="barcode.bytes?.toString() || ''"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Corner Points</ion-label>
          <ion-input
            type="text"
            readonly
            [value]="barcode.cornerPoints?.toString() || ''"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Display Value</ion-label>
          <ion-input
            type="text"
            readonly
            [value]="barcode.displayValue"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Format</ion-label>
          <ion-input type="text" readonly [value]="barcode.format"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Raw Value</ion-label>
          <ion-input
            type="text"
            readonly
            [value]="barcode.rawValue"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Value Type</ion-label>
          <ion-input
            type="text"
            readonly
            [value]="barcode.valueType"
          ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>

  


</ion-content>
