<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>Bienvenido "{{ username }}" </p>

  <div class="content">

    <ion-button class="ion-margin">
      Escanear código QR
      <ion-icon slot="end" name="camera-outline"></ion-icon>
    </ion-button>

    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let asistencia of asistencias" size-lg="6" size-md="6" size-sm="12" size="12">
          <ion-card>
            <circle-progress
            [percent]="getPorcentaje(asistencia)"
            [radius]="65"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [titleColor]="'var(--ion-color-dark)'"
            [animationDuration]="300"
            [subtitle]="'Asistencia'"
            ></circle-progress>
            <div class="title">{{ asistencia.asignatura }}</div>
            <p>{{ asistencia.total_clases }}</p>
            <p>{{ asistencia.clases_asistidas }}</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-button expand="full"  (click)="onClick()" >
    Cerrar Sesión
    <ion-icon name="enter-outline"></ion-icon>
  </ion-button>
  
  <!-- botón para escanear código QR --> 
  



</ion-content>
