
ion-card {
    border-radius: 15px;
    padding: 10px;
    min-height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.022);
}

ion-card:hover{
    cursor: pointer;
    background: var(--ion-color-light);
}

.title{
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    line-height: 20px;
}



.welcome-bar {
    background-color: #3498db; /* Color de fondo, ajusta según tus preferencias */
    color: #fff; /* Color del texto, ajusta según tus preferencias */
    padding: 10px; /* Espaciado interno, ajusta según tus necesidades */
    text-align: center;
  
    .welcome-message {
      margin: 0;
      font-size: 14px; /* Tamaño de fuente, ajusta según tus preferencias */
  
      .username {
        font-weight: bold;
      }
    }
  }
  