<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <br>
        <br>
        <br>
        <br>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center"></ion-card-title>
            <img  src="https://duoc.modyocdn.com/uploads/d1065e11-cde5-40b4-b58f-59004919c757/original/logo_duoc.svg">
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <ion-list>
                <p class="ion-text-center">Se enviará un email para restablecer la constraseña</p>
                <ion-item>
                  <ion-label>correo</ion-label>
                  <ion-input formControlName="email"></ion-input>
                </ion-item>
              </ion-list>
          
              <ion-button type="submit" expand="block">Recuperar</ion-button>
            </form>
            <br>
            <br>
          </ion-card-content>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
