<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contrasena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <br>
          <br>
          <br>
          <br>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Recuperar contraseña</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Contraseña nueva</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Repetir contraseña</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
            </ion-card-content>
            
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
</ion-content>
